@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Poppins:wght@100;400;700&display=swap');

:root{
--green: #528e6b;
--mgreen: #2a3609;
--lgreen: #91b302;
--vdgreen: #0a0f0b;
--vlgreen: #EFF7D0;
--nav-height: 75px;

}

*{
    box-sizing: border-box;

}

html, body{
    margin: 0;
    padding: 0;
    background-color: var(--vdgreen);
}

body, button, input, select, textarea{
    font-family: 'Poppins', sans-serif;
    color:var(--vlgreen);
}

h1{
    font-size: 44px;
    font-weight: 400;
}

h2{ 
    font-size: 24px;
    margin: 0;
    font-weight: 400;
}

p{
    color: var(--vlgreen);
    font-weight: 400;
}

button{
    background-color: var(--lgreen);
    border: 0;
    border-radius: 16px;
    padding: 8px 35px;
    color: var(--vlgreen);
    font-weight: bold;
    font-size: 18px;
}

.title-lgreen{
    color: var(--lgreen);
}

.title-mgreen{
    color: var(--mgreen);
}

header {
    height: calc(100vh - var(--nav-height));
    display: flex;
    align-items: center;
}

header .container{
    width: 50%;
    padding: 0 100px;
    height: fit-content;
}

header .logo-container{
    display: none ;
}

header .container button{
    margin-top: 40px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--nav-height);
    padding: 0 100px;
    position: sticky;
    top: 0;
    background-color: var(--vdgreen);
}

nav img{
    height: 45px;
}

nav ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

nav ul a{
    font-size: 24px;
    color: var(--lgreen);
    text-decoration: none;
}

nav ul a svg{
    display: none;
}

.logo-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 145px;
    height: 45px;
    border-left: 5px solid var(--lgreen);
    padding-left: 10px;
}

nav .logo-container h3{
    margin: 0;
}

.about-me{
    display: flex;
    padding: 100px;
}

.about-me .container{
    width: 50%;
    padding-right: 50px;
}

.about-me .container p{
    text-align: justify;
}

.about-me .img-container{
    width: 50%;
    text-align: center;
}

.about-me .img-container img{
    width: 70%;
    
}


/* RESPONSIVIDADE */
/* Small desktop */
@media (max-width: 1000px){
    nav ul a{
        font-size: 18px;
    }

    header .container{
        width: 100%;
        padding: 0 100px;
    }
    nav {
        padding: 0 30px;
    }

}

/* Tablet */
@media (max-width: 767px){
 
    
    header .logo-container{
        display: flex;
        width: 100px;
        margin-bottom: 70px;
    }

    header .logo-container h3{
        margin: 0;
    }

    nav  .logo-container{
        display: none;
    }

    nav ul{
        padding: 0;
    }

    nav ul a{
        font-size: 16px;
    }
}

/* Celular */
@media (max-width: 480px){

    header .container{
        padding: 0 45px;
    }

    nav{
        padding: 0 15px;
        position: fixed;
        bottom: 0;
        top: unset;
        width: 100%;
    }
    nav ul a{
        font-size: 12px;
    }

    nav ul a svg{
        display: block;
        margin: 0 auto 10px;
    }

}